/* xl */
:root{
    --main-color: #48aae6;
    --delete-color: #b20000;
    --add-color: #f3a500;
    --size-square: 49px;
    --size-min-padding: 2px;
    --size-main-border: 1px;
}

.field{
    display: inline-block;
    padding: 103px 102px;
}

.field__field-control-panel{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 calc(var(--size-min-padding) + var(--size-main-border)) 1px;
}

.field__field-view-panel{
    border: var(--size-main-border) solid var(--main-color);
    padding: var(--size-min-padding) 0 0 var(--size-min-padding);
    display: flex;
    flex-wrap: wrap;
}

.field__field-square{
    width: var(--size-square);
    height: var(--size-square);
    background-color: var(--main-color);
    display: inline-block;
    padding: 0;
    margin: 0 3px 2px 0;
    outline: 0;
    border: 0;
}

.field__field-square-control{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    transition: opacity 0.3s;
}

.field__field-square_control-delete-column,
.field__field-square_control-delete-row,
.field__field-square_control-delete-column,
.field__field-square_control-delete-row{
    visibility: hidden;
    transition: visibility 0.1s;
}

.field:hover .field__field-square_control-delete-column,
.field:hover .field__field-square_control-delete-row,
.field:focus .field__field-square_control-delete-column,
.field:focus .field__field-square_control-delete-row{
    visibility: visible;
    transition: visibility 0.1s;
}

.field__field-square_control-delete-column {
    margin-left: 0;
    background-color: var(--delete-color);
}

.field__field-square_control-delete-row{
    position: absolute;
    margin-left: -55px;
    margin-top: 3px;
    background-color: var(--delete-color);
}

.field__field-square_control-add-column{
    position: absolute;
    margin-top: 3px;
    background-color: var(--add-color);
}

.field__field-square_control-add-row{
    position: absolute;
    margin-left: 0;
    background-color: var(--add-color);
}

.field__field-square_control-delete-row:hover,
.field__field-square_control-delete-column:hover,
.field__field-square_control-add-row:hover,
.field__field-square_control-add-column:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.field__field-square_control-delete-row:focus,
.field__field-square_control-delete-column:focus,
.field__field-square_control-add-row:focus,
.field__field-square_control-add-column:focus,
.field__field-square_control-delete-row:active,
.field__field-square_control-delete-column:active,
.field__field-square_control-add-row:active,
.field__field-square_control-add-column:active{
    outline: var(--size-min-padding) solid var(--main-color);
}

.minus{
    width: 10px;
    height: 3px;
    background-color: #fff;
}

.plus{
    width: 10px;
    height: 3px;
    background-color: #fff;
}

.plus:before{
    width: 10px;
    height: 3px;
    background-color: #fff;
    content: " ";
    display: inline-block;
    position: relative;
    top: -24px;
    transform: rotateZ(90deg);
}